@model Grocery3Go.Models.Views.ProductsViewModel
@{
    ViewBag.Title = "Index";
}
<body>
    <h2>Our Products</h2>
    <table class="table table-bordered">

        <tr style="background-color: lightgray;">
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
        @foreach (var item in Model.Products)
        {
 
            <tr style="background-color: white;">
                <td><h4>@item.Name</h4></td>
                <td><img src="@item.ImgUrl"/></td>
                <td><h4 style="font-weight:700;">@item.Price.ToString("C")</h4></td>
                <td>@Html.ActionLink("Add To Cart", "AddToCart", new { productId = item.ProductId}, new { @class = "btn btn-warning" })</td>

            </tr>
            
            
        }
        

        @*Loops through local Shopping Cart List
            @foreach (var item in Model.ShoppingCartList)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@Html.ActionLink("Delete", "DeleteFromCart", new { shoppingCartItemId = item.ShoppingCartItemId })</td>
                </tr>
            }*@
    </table>



   

        
     
</body>