@model Grocery3Go.Models.Views.ProductsViewModel
@{
    ViewBag.Title = "Index";
}
<body>
    <h2>Our Products</h2>
    <table class="table">

        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>@Html.ActionLink("Add To Cart", "AddToCart", new { productId = item.ProductId })</td>
            </tr>
        }


        @*Loops through local Shopping Cart List
            @foreach (var item in Model.ShoppingCartList)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@Html.ActionLink("Delete", "DeleteFromCart", new { shoppingCartItemId = item.ShoppingCartItemId })</td>
                </tr>
            }*@
    </table>



    <p>@Html.ActionLink("Check Out", "CreateOrder", new { shoppingCartId = Model.User.ShoppingCartId })</p>
    
        
     
</body>